.main-body {
    background-color: white;
    width: 350px;
    height: 630px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding-top: 40px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.insta-logo {
    padding-right: 17px;
    padding-top: 10px;
    object-fit: contain;
}

.text1 {
    font-weight: 600;
    font-size: 17px;
    color: rgba(var(--f52, 142, 142, 142));
}

.lgn-sgnup-btn {
    width: 285px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid transparent;
}

i {
    color: white;
}

span {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.line {
    text-align: center;
    height: 50px;
    padding-top: 5px;
}

.line1 {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-left: 25px;
    margin-left: 55px;
}

.line-text {
    float: left;
    width: 19%;
    height: 58px;
    padding-left: 4px;
    padding-top: 10px;
}

.line2 {
    float: right;
    width: 25%;
    padding-top: 10px;
    margin-right: 52px;
    padding-right: 25px;
}

.email {
    width: 285px;
    margin-top: 10px;
}

.name {
    width: 285px;
    margin-top: 10px;
}

.username {
    width: 285px;
    margin-top: 10px;
}

.pswd {
    width: 285px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text2 {
    font-weight: 600;
    font-size: 12px;
    color: rgba(var(--f52, 142, 142, 142));
}

.learn {
    color: rgba(var(--f52, 142, 142, 142));
    cursor: pointer;
}

.text3 {
    font-weight: 600;
    font-size: 12px;
    color: rgba(var(--f52, 142, 142, 142));
}

.have {
    text-align: center;
    font-size: 17px;
}

.lgn2 {
    color: #0095f6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.extr-info1 {
    padding-top: 2px;
    background-color: white;
    width: 350px;
    height: 60px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(208, 200, 200);
}

.extr-info2 {
    padding-top: 2px;
    background-color: white;
    width: 350px;
    height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.extr-info3{
    background-color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.appstore{
    width: 155px;
    height: 45px;
}
.playstore{
    width: 155px;
    height: 45px;
}
img{
    cursor: pointer;
}